.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 100%;
  font-size: 1.5rem;
}

.input-content-container h3 {
  font-family: "Encode Sans";
  font-weight: 400;
}

.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.input-form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-search-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-item-container {
  width: 100%;
}

.display-row-header {
  width: 100%;
  margin-top: 3rem;
  font-weight: 700;
}

.character-row {
  margin-top: 1rem;
}

.pages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
