.App {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-container h1 {
  font-family: "starWars", sans-serif;
  margin-top: 5rem;
  font-size: 6.4rem;
  line-height: 10.2rem;
  font-weight: 400;
  color: white;
}

.header-container h3 {
  font-family: "starWarsHollow", sans-serif;
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-weight: 400;
  color: white;
}

.data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

form {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "Space Mono", monospace;
}

.input-row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input-text-container {
  margin: 0;
  padding: 0;
}

.input-search-text {
  width: 560px;
  padding: 0 1rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

.input-search-button {
  margin: 0;
  border-radius: 5px;
  height: 2rem;
}

.display-item-container {
  width: 95%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-row-header {
  width: 95%;
  margin-top: 3rem;
  font-family: "Space Mono", monospace;
  font-size: 1.5vw;
  font-weight: 700;
  background: rgb(255, 204, 204);
}

.characters-row-container {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(196, 196, 196);
}

.display-character-rows {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dotted black;
}

.character-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
  font-size: 1rem;
  margin-top: 1rem;
}

.pages-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.previous-next-buttons {
  font-family: "Space Mono", monospace;
  background: #8fc5f8;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .display-row-header {
    font-size: 2.25vw;
  }

  .character-row {
    font-size: 0.75rem;
  }
}
