@font-face {
  font-family: "starWars";
  src: url("./fonts/Starjedi.ttf");
}

@font-face {
  font-family: "starWarsHollow";
  src: url("./fonts/Starjhol.ttf");
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./space-background.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
